body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: 'Roboto', Sans-serif;
}


h2 {
  color: red;
}
.message {color: blue;

}
.card-title {
  font-weight: 550;
  font-size: 1.25rem;
}
.card-subtitle{
  font-weight: 400;
}
.card-img-overlay .card-title, .card-subtitle {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
.board-detail {
    color: white;
    background-color: #ef3400;
    font-weight: 700;
    font-size: 1.3rem;
}
.row-content {
  align-content: center;

}

.row-content2 {
  padding: 50px 0;
  border-bottom: 1px ridge;
 
}

.site-footer {
  background-image: linear-gradient(#ef3400, white);
  padding: 20px 0;
  margin-top: 2rem;
}

/* .navbar-brand {
  max-width: 5rem;
  margin-inline-end: 5rem;

} */

/* .navbar-brand img {
  width: 300%;
  height: 300%;
  margin-right: 2rem;
  max-width: 8rem;
} */

.navbar-dark {
  background-color: #3f10e8;
  background-image: linear-gradient(to right, #1a2668, #000ac9, #0b2e78);
  /* margin-bottom: 2rem;
  min-height: 8rem;
  justify-content: flex-end; */
  
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
