h1,
h2,
body {
  font-family: 'Open Sans', sans-serif;
}
h3,
.card-body > .card-title {
  font-family: 'Roboto', Sans-serif;
}
h2 {
  color: red;
}
.message {
  color: blue;
}
.carousel {
  padding-top: 10px;
  padding-bottom: 10px;
}
.about-card .about-text{
  font-weight: 500;
  font-size:1.2vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.card-title {
  font-weight: 450;
  font-size: .8rem;
}
.card-subtitle{
  font-weight: 375;
  font-size: .7rem;
}
.card-img-overlay .card-title, .card-subtitle {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
.animated-board-detail {
  color: white;
  background-color: #ef3400;
  font-weight: 700;
  font-size: 1.5rem;
}
.mission-row-content {
  align-content: center;
}

.row-content2 {
  padding: 50px 0;
  border-bottom: 1px ridge;
}

.site-footer {
  background-image: linear-gradient(#ef3400, white);
  padding: 20px 0;
  margin-top: 2rem;
}

 .navbar-brand img {
  width: 100%;
  height: 100%;

  /* max-width: 200px; */
}

.navbar-dark {
  background-color: #3f10e8;
  background-image: linear-gradient(to right, #1a2668, #000ac9, #0b2e78);
  min-height: 8rem;
}

.navbar-nav {
  font-size: smaller;
}
.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
